In [1]:
import pandas as pd
from scipy import stats
import numpy as np
import plotly as py
from plotly import graph_objs as go
from plotly.offline import iplot, init_notebook_mode
from plotly import tools
init_notebook_mode(connected=True)

c:\Users\ASUS\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
data_warna = pd.read_csv("list_warna.csv",sep=";")
data_warna

       Nama Warna      HEX           Warna RGB
0            Aqua  #00FFFF    rgb(0, 255, 254)
1      Aquamarine  #7FFFD4  rgb(115, 255, 216)
2           Black  #000000        rgb(0, 0, 0)
3            Blue  #0000FF      rgb(0, 0, 255)
4     Blue Violet  #8A2BE2   rgb(138, 43, 226)
..            ...      ...                 ...
108     Turquoise  #40E0D0   rgb(64, 224, 208)
109        Violet  #EE82EE  rgb(238, 130, 238)
110         Wheat  #F5DEB3  rgb(245, 222, 179)
111        Yellow  #FFFF00    rgb(255, 255, 0)
112  Yellow Green  #9ACD32   rgb(154, 205, 49)

[113 rows x 3 columns]

In [6]:
list_warna = np.array(data_warna["HEX"])
list_warna

array(['#00FFFF', '#7FFFD4', '#000000', '#0000FF', '#8A2BE2', '#A52A2A',
       '#DEB887', '#5F9EA0', '#7FFF00', '#D2691E', '#FF7F50', '#6495ED',
       '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B', '#A9A9A9',
       '#006400', '#BDB76B', '#8B008B', '#556B2F', '#FF8C00', '#9932CC',
       '#8B0000', '#E9967A', '#8FBC8F', '#483D8B', '#2F4F4F', '#00CED1',
       '#9400D3', '#FF1493', '#00BFFF', '#696969', '#1E90FF', '#B22222',
       '#228B22', '#FF00FF', '#FFD700', '#DAA520', '#808080', '#008000',
       '#ADFF2F', '#FF69B4', '#CD5C5C', '#4B0082', '#F0E68C', '#7CFC00',
       '#ADD8E6', '#F08080', '#D3D3D3', '#90EE90', '#FFB6C1', '#FFA07A',
       '#20B2AA', '#87CEFA', '#778899', '#B0C4DE', '#00FF00', '#32CD32',
       '#FF00FF', '#800000', '#66CDAA', '#0000CD', '#BA55D3', '#9370DB',
       '#3CB371', '#7B68EE', '#00FA9A', '#48D1CC', '#C71585', '#191970',
       '#FFE4B5', '#FFDEAD', '#000080', '#808000', '#6B8E23', '#FFA500',
       '#FF4500', '#DA70D6', '#EEE8AA', '#98FB98', '#AFEEEE', '#DB7093',
       '#CD853F', '#FFC0CB', '#DDA0DD', '#B0E0E6', '#800080', '#663399',
       '#FF0000', '#BC8F8F', '#4169E1', '#8B4513', '#FA8072', '#F4A460',
       '#2E8B57', '#A0522D', '#C0C0C0', '#87CEEB', '#6A5ACD', '#708090',
       '#00FF7F', '#4682B4', '#D2B48C', '#008080', '#D8BFD8', '#FF6347',
       '#40E0D0', '#EE82EE', '#F5DEB3', '#FFFF00', '#9ACD32'],
      dtype=object)

In [9]:
list_warna[:51]

array(['#00FFFF', '#7FFFD4', '#000000', '#0000FF', '#8A2BE2', '#A52A2A',
       '#DEB887', '#5F9EA0', '#7FFF00', '#D2691E', '#FF7F50', '#6495ED',
       '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B', '#A9A9A9',
       '#006400', '#BDB76B', '#8B008B', '#556B2F', '#FF8C00', '#9932CC',
       '#8B0000', '#E9967A', '#8FBC8F', '#483D8B', '#2F4F4F', '#00CED1',
       '#9400D3', '#FF1493', '#00BFFF', '#696969', '#1E90FF', '#B22222',
       '#228B22', '#FF00FF', '#FFD700', '#DAA520', '#808080', '#008000',
       '#ADFF2F', '#FF69B4', '#CD5C5C', '#4B0082', '#F0E68C', '#7CFC00',
       '#ADD8E6', '#F08080', '#D3D3D3'], dtype=object)